@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e5e5e5;
}
header {
    padding: 2rem;
    transition: all .20s ease;
}
nav {
    display: flex;
    justify-content: space-between;
    transition: all .20s ease;
}
nav ul {
    display: flex;
    gap: 20px;
    width: 40%;
    align-items:flex-start;
}
nav ul li {
    list-style: none;
}
button {
    background-color: #e5e5e5;
    border: #0e1d21 2px solid;
    padding: 8px 20px;
    border-radius: 5px;
    color: #0e1d21;
    cursor: pointer;
    font-weight: 700; 
    position: relative;
    inset:  -10px auto auto -10px;
}
button:hover {
    background-color: #0e1d21;
    color: #e5e5e5;
}
.about-me {
    width: 60%;
}
.about-me h1 {
    font-size: 5rem;
    white-space: nowrap;
}
span {
    background-color: #0e1d21;
    color: #f8efe5;
    padding: 0px 15px;
}
section {
    min-height: 83vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    transition: all .20s ease;
}
section .img-container {
    height: 600px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: 2;
}
.img {
    width: 410px;
    height: 410px;
    border-radius: 50%;
    background-color: #0e1d21;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    background: linear-gradient(#f8efe5, #f8efe5);
    animation: rotate 4s linear infinite;
    z-index: 1;
}
.img::after {
    content: '';
    position: absolute;
    inset: 5px;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
section .p-container {
    width: 60%;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;

}
.p-container p > a {
    color: #0e1d21;
    font-weight: 800;
}
@media (max-width: 500px) {
nav ul {
    display: flex;
    gap: 20px;
    width: 20%;
    align-items:flex-start;
}
.about-me {
    width: 78%;
}
.about-me h1 {
    font-size: 3rem;
    white-space: nowrap;
}
section .img-container {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;

}
.img {
    width: 310px;
    height: 310px;
}
section .p-container {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
}
@media (min-width: 501px) and (max-width: 1500px) {
nav ul {
    display: flex;
    gap: 20px;
    width: 20%;
    align-items:flex-start;
}
.about-me {
    width: 78%;
}
.about-me h1 {
    font-size: 3rem;
    white-space: nowrap;
    position: relative;
    left: 150px;
}
section .img-container {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
img {
    width: 400px;
    height: 400px;
    border-radius: 50%;

}
section .p-container {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}
}

@media (min-width: 1501px) and (max-width: 1800px) {
section {
    display: flex;
    justify-content: flex-start;
}
section .img-container {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

}