@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #e5e5e5;   
}
header {
    /* background-color:#0e1d21; */
    padding: 2.5rem;
    transition: all .50s ease;
}
span { 
    background-color: #0e1d21;
    color: #f8efe5;
    padding: 0px 15px;
}
button {
    position: absolute;
    inset: 15px auto auto 15px;
    padding: 8px 25px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 5px;
    border: none;
    font-weight: 700;

    color: #fff5e1;
    transition: all 0.2s ease;
}
a {
    text-decoration: none;
    color: #bfc6d4;
}
button:hover {
    background-color: #1d1c1c;
}
section {
    min-height: 100vh;
    position: relative;
    inset: 50px auto;
    transition: all .50s ease;
    row-gap: 50px;
    /* margin: 50px auto; */
}
nav {
    position: relative;
    /* background-color: #000000; */
}
nav h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #0e1d21;
}
.aib-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 50px;
}
.aib-container h1 {
    font-size: 2.5rem;
}
video {
    width: 1000px;
    height: 600px;
    cursor: pointer;
    position: relative;
}
.video-container {
    width: 1000px;
    height: 700px;
    align-content: center;
    text-align: center;
    position: relative;
    z-index: 1;

}
.text-container {
    height:720px;
    width: 550px;
    align-content: center;
    text-align: center;
    border-radius: 5px 50px;
    border: #0e1d21 3px solid;
    padding: 5px;
}
#text {
    border-radius: 50px 5px;
}
.text-container  p {
    font-size: 24px;
    font-weight: 600;
}
.qot-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.qot-section  h1 {
    font-size: 2.5rem;
}
.aiw-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.aiw-section  h1 {
    font-size: 2.5rem;
}
.op-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}
.op-section  h1 {
    font-size: 2.5rem;
}
.mouse-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.mouse-section  h1 {
    font-size: 2.5rem;
}
.video-container h1 {
    color: #0e1d21;
}
p {
    color: #0e1d21;
}
.video::after, .video::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    padding: 10px;
    z-index: -1;
    background: conic-gradient(from var(--v) , #e5e5e5, #0e1d21, #e5e5e5);
    transition: all 0.3s ease-in-out;
    /* animation: 3s spin linear infinite; */
}
.video:hover::after,
.video:hover::before {
    animation: spin 3s linear infinite;
}
.video::before {
    filter: blur(2rem);
    opacity: 5%;
}
@property --v {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spin {
    from {
        --v: 0deg;
    }
    to {
        --v: 360deg;
    }
}

@media (max-width: 500px) {
header h1 {
    font-size: 2.5rem;
}
.aib-container h1, .aiw-section h1, .qot-section h1, .op-section h1, .mouse-section h1 {
    font-size: 2rem;
}
video {
    width: 450px;
    height: 400px;
}
.video-container {
    height: 500px;
}
.video-container h1 {
    text-align:center;
}
.text-container  p {
    font-size: 20px;
}
.text-container {
    height:520px;
    width: 500px;
    margin-bottom: 30px;
}
}

@media (min-width: 501px) and (max-width: 1000px) {
header h1 {
    font-size: 3rem;
}
video {
    width: 700px;
    height: 500px;
}
.video-container {
    height: 600px;
}
.video-container h2 {
    text-align: center;
}
.text-container  p {
    font-size: 22px;
}
.text-container {
    height:620px;
    width: 500px;
    margin-bottom: 30px;
}
}

@media (min-width: 1001px) and (max-width: 1600px) {
.text-container {
    height:620px;
    width: 700px;
    margin-bottom: 50px;
}
}